.delete-box {
    position: fixed;
    inset: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
}

.animate-slideUp {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 32px;
    width: 100%;
    max-width: 440px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border: none;
}

.close-icon{
    position: absolute;
    top: 16px;
    right: 20px;
    color: #9ca3af;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

.footer-button{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 32px;
}

.footer-cancel-button{
    height: 36px;
    padding: 0 24px;
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    background-color: #e8e8e8;
    color: #374151;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.confirm-delete-button{
    height: 36px;
    padding: 0 24px;
    border-radius: 8px; 
    border: none;
    background-color: #ff4d4f; 
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ;
}